.fadeIn{
animation: fadeIn 2s;
}

.fadeRight{
animation: fadeRight 2s;
}
.fadeLeft{
animation: fadeLeft 2s;
}
#header{
  opacity: 0;
  animation-delay: 0.5s;
-webkit-animation-delay:1s;
animation-fill-mode: forwards;
}
#header a:hover{
  background-color: #138496;
}
.dropdown-menu a:hover{
  color:#A1CCB9;
  font-weight: bold; 
}

.navbar-dark, #learn {
	background-color: #4CA0C2;
	color: floralwhite;
}

.navbar-nav{
	padding-top: 1.5em;
	font-size: 1.2em;
	font-family: Roboto;
}

.jumbotron{
	padding: 20em,auto;
	font-size: 18px;
	font-family: Calibri;
}

.carousel .carousel-item {
    height: 30em; }
 .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 30em; }
#carouselBtn {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

body {
  padding: 4em 0px 0px 0px;
  z-index: 0; }

.row-content {
  margin: 3em 0em 0em 0em;
  padding: 2.5em, 0em 0em 0em;
  border-bottom: 1px ridge
  ;
 }

.navbar-dark .navbar-nav .nav-item .active .nav-link > a{
	color:#A1CCB9;
}
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus{
	color:#A1CCB9;
	font-weight: bold;
  

}

 .navbar-dark .navbar-nav .nav-item .nav-link >a:hover, .navbar-dark .navbar-nav .nav-item .active .nav-link > a:focus{

 }

 .footer{
 	margin:5.5em 0em 0em 0em;
 	padding: 2em 0em 1em 0em;
 	color:floralwhite;
	background-color: #4CA0C2;
}

#me h5, #tech h5, #edu h5,#achieve h5, #hobby h5 {
 
 color:#4CA0C2;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
}
#project .card{
	width: 20rem;
	min-height: 27rem;
  overflow:hidden;


}
#project .card:hover{
  transform: scale(1.1);
}

.card-img-top{
	height: 12rem;
}
.card img:hover{
  
  opacity: 0.7;
}
.card-body .btn{
  bottom: 20px;
}
#abt .card{
	background-color: #4CA0C2;
	color: white;
}


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    
}
ul.timeline li {
    margin: 20px 0;
    padding-left: 20px;
    
    margin-left: 1rem;
    animation-fill-mode: forwards;
}
.timeline .list{
  opacity: 0;
}
/*.timeline li:nth-child(odd)
{
  animation: fadeRight 2s;
    animation-fill-mode: forwards;
}
.timeline li:nth-child(even)
{
  animation: fadeRight 2s;
    animation-fill-mode: forwards;
   
}*/
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
     margin-right: 1rem;
    z-index: 400;

}



ul.timeline .col-12 > h6{
	color: #4CA0C2;
}

.dropdown-menu,.dropdown-menu .dropdown-item{
	background-color: #4CA0C2;
	color: white;

}

@keyframes fadeIn{
  from{

    opacity: 0;
    

  }

  to{
    opacity: 1;
   
  }
}

@keyframes fadeRight{
  0%{

    opacity: 0;
    transform:translate3d(100%,0,0);

  }
  50%{
    opacity: 0.7
  }

  100%{
    opacity: 1;
    transform:none;
  }
}
@keyframes fadeLeft{
  0%{

    opacity: 0;
    transform:translate3d(-100%,0,0);

  }

  100%{
    opacity: 1;
    transform:none;
  }
}
